services:
  # 1. 壁纸站
  easyimage:
    image: ddsderek/easyimage
    container_name: easyimage
    restart: always
    environment:
      - TZ=Asia/Shanghai
      - PUID=0
      - PGID=0
    volumes:
      - .:/app/web # 用点号代表当前目录，更简洁
      - ./config:/app/web/config
      - ./i:/app/web/i

  portal:
    image: nginx:alpine
    container_name: roxyweal-portal
    restart: always
    volumes:
      - ./portal:/usr/share/nginx/html # 修改为相对路径

  gateway:
    image: nginx:alpine
    container_name: roxyweal-gateway
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # 修改为相对路径
    depends_on:
      - easyimage
      - portal